<section class="bg-gray-100 py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2
        class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]"
      >
        Frequently asked questions
      </h2>
    </div>

    <div class="accordion-group" data-accordion="default-accordion">
      <div
        class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50 active"
        id="basic-heading-one-with-arrow">
        <button
          class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:font-medium accordion-active:text-indigo-600"
          aria-controls="basic-collapse-one-with-arrow">
          <h5 class="text-blue-800 font-bold text-lg">Dedicated customer support and help portal.</h5>
          <%= image_tag('path_9712.svg') %>
        </button>
        <div
          id="basic-collapse-one-with-arrow"
          class="accordion-content w-full px-0 overflow-hidden"
          aria-labelledby="basic-heading-one-with-arrow"
          style="max-height: 250px;">
          <p class="text-base text-gray-900 leading-6">
            With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.
          </p>
        </div>
      </div>
      <div
        class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50 active"
        id="basic-heading-one-with-arrow">
        <button
          class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:font-medium accordion-active:text-indigo-600"
          aria-controls="basic-collapse-one-with-arrow">
          <h5 class="text-blue-800 font-bold text-lg">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h5>
          <%= image_tag('path_9712.svg', :class=>"rotate-180") %>
        </button>
      </div>
      <div
        class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50 active"
        id="basic-heading-one-with-arrow">
        <button
          class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:font-medium accordion-active:text-indigo-600"
          aria-controls="basic-collapse-one-with-arrow">
          <h5 class="text-blue-800 font-bold text-lg">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h5>
          <%= image_tag('path_9712.svg', :class=>"rotate-180") %>
        </button>
      </div>
      <div
        class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50 active"
        id="basic-heading-one-with-arrow">
        <button
          class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:font-medium accordion-active:text-indigo-600"
          aria-controls="basic-collapse-one-with-arrow">
          <h5 class="text-blue-800 font-bold text-lg">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h5>
          <%= image_tag('path_9712.svg', :class=>"rotate-180") %>
        </button>
      </div>
    </div>
  </div>
</section>
