<section>
  <div class="bg-white pb-20">
    <div class="max-w-6xl px-5 mx-auto pt-20 text-center">
      <h2 class="text-2xl font-bold text-center">
        Andrew Santellan
      </h2>
      <p class="text-center mt-1 text-blue-300">
        Product Manager, Binance
      </p>
      <div class="flex items-center justify-center pt-5">
        <%= image_tag('binance.svg', :class=>"pr-1 text-gray-100 w-10 l-10") %>
        <span class="text-2xl text-gray-600">Binance</span>
      </div>

      <div class="flex flex-col mt-16 md:flex-row md:space-x-6">
        <div class="md:w-2/12"></div>
        <div class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-blue-400 md:w-8/12">
          <%= image_tag('user.png', :class=>"w-16 -mt-14") %>
          <p class="text-sm text-white">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <%= image_tag('star.svg', :class=>"w-36") %>
        </div>
        <div class="md:w-2/12"></div>
      </div>
    </div>
  </div>
</section>
