<section id="reasons_to_shop">
  <div class="max-w-6xl px-5 mx-auto pt-20 pb-20">
    <p class="mt-10 text-orange-400 ml-5">
      LOREM IPSUM
    </p>
    <h2 class="text-4xl font-bold text-white ml-5">
      3 Reasons To Shop With Us
    </h2>

    <div class="flex flex-col mt-10 md:flex-row md:space-x-6">
      <div class="flex flex-col items-center p-6 space-y-6 w-auto md:w-1/3 md:justify-start md:items-start">
        <%= image_tag('package-box.svg', :class=>"w-1/2 md:w-auto") %>
        <h5 class="text-lg font-bold text-white">
          All textbook rentals come with free return shipping.
        </h5>
        <a class="text-sm text-white">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.
        </a>
      </div>
      <div class="flex flex-col items-center p-6 space-y-6 w-auto md:w-1/3 md:justify-start md:items-start">
        <%= image_tag('help.svg', :class=>"w-1/2 md:w-auto") %>
        <h5 class="text-lg font-bold text-white">
          Dedicated customer support and help portal.
        </h5>
        <a class="text-sm text-white">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.
        </a>
      </div>
      <div class="flex flex-col items-center p-6 space-y-6 w-auto md:w-1/3 md:justify-start md:items-start">
        <%= image_tag('piggy-bank.svg', :class=>"w-1/2 md:w-auto") %>
        <h5 class="text-lg font-bold text-white items-left">
          Buy or rent cheap textbooks & save up to $500 per year!
        </h5>
        <a class="text-sm text-white">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.
        </a>
      </div>
    </div>
  </div>
</section>
